.description {
    display: block;
    height: 1px;
    min-height: 300px;
    max-height: 500px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    padding: 0;
}

.description__title {
    text-align: left;
}

.description__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-image: linear-gradient(transparent, var(--section-color));
}

.description__decoration {
    width: 100px;
    height: 120px;
    /* background-image: url('/assets/images/decorations/general/5/description_decoration/2.svg'); */
    animation: description__decoration 1s steps(1) infinite;
}

.image__box {
    max-width: 400px;
}

.image__text {
    text-align: center;
}

.ending {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

.button:is(.prev, .next, .contents) {
    box-sizing: border-box;
    flex-grow: 1;
    width: 360px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev::before {
    content: url('/assets/images/decorations/list_arrow.svg');
    display: block;
    rotate: -90deg;
    width: 40px;
    height: 40px;
}

.button.contents {
    justify-content: center;
}

.next::after {
    content: url('/assets/images/decorations/list_arrow.svg');
    display: inline-block;
    rotate: 90deg;
    width: 40px;
    height: 40px;
}