@font-face {
    font-family: 'Caveat';
    src: url('/assets/fonts/Caveat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.main__welcome {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.image {
    box-sizing: border-box;
    min-width: 0px;
    max-width: 460px;
    border: 1px solid var(--image-border-color);
    border-radius: 20px;
}

.title.welcome {
    text-align: left;
    width: 600px;
    margin-right: 20px;
}

.options__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.option__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 540px;
    height: 400px;
    padding: 10px;
    background-color: var(--option-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: border-color 0.3s;
}

@media (hover: hover) {
    .option__card:is(:hover, :focus-visible, :focus) {
        outline: none;
        border-color: var(--border-active-color);
        transition: border-color 0.3s;
    }
}

.option__title {
    line-height: 24px;
}

.option__general-scheme {
    margin-top: 20px;
}

.general-scheme__block {
    display: flex;
    align-items: center;
    justify-content: right;
}

.general-scheme__to1 {
    flex-grow: 1;
    height: 4px;
    background: linear-gradient(90deg, white 50%, transparent 50%) repeat-x;
    background-size: 15px 4px;
    animation: flow-x 0.5s linear infinite;
}

.general-scheme__to2 {
    width: 4px;
    padding-right: 48px;
    height: 50px;
    background: linear-gradient(white 50%, transparent 50%) repeat-y;
    background-size: 4px 15px;
    animation: flow-y 0.5s linear infinite;
}

.general-scheme__to3 {
    flex-grow: 1;
    height: 4px;
    background: linear-gradient(90deg, white 50%, transparent 50%) repeat-x;
    background-size: 15px 4px;
    animation: flow-x 0.5s linear reverse infinite;
}

.general-scheme__icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
}

.general-scheme__icon.icon1 {
    background-image: url('/assets/images/decorations/general_scheme/icon1.svg');
}

.general-scheme__icon.icon2 {
    background-image: url('/assets/images/decorations/general_scheme/icon2.svg');
}

.general-scheme__icon.icon3 {
    background-image: url('/assets/images/decorations/general_scheme/icon3.svg');
}

.general-scheme__icon.icon4 {
    background-image: url('/assets/images/decorations/general_scheme/icon4.svg');
}

.option__scientists-scheme {
    position: relative;
    flex-grow: 1;
    margin-top: 20px;
}

.scientists-scheme__icon {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.scientists-scheme__icon.icon1 {
    background-image: url('/assets/images/decorations/scientists_scheme/icon1.svg');
    top: calc(100% - 100px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    animation: scientists 5s infinite;
}

.scientists-scheme__icon.icon2 {
    background-image: url('/assets/images/decorations/scientists_scheme/icon1.svg');
    top: calc(50% - 40px);
    left: calc(100% - 80px);
    width: 80px;
    height: 80px;
    animation: scientists 5s -1.25s infinite;
}

.scientists-scheme__icon.icon3 {
    background-image: url('/assets/images/decorations/scientists_scheme/icon1.svg');
    top: 0;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    animation: scientists 5s -2.5s infinite;
}

.scientists-scheme__icon.icon4 {
    background-image: url('/assets/images/decorations/scientists_scheme/icon1.svg');
    top: calc(50% - 40px);
    left: 0;
    width: 80px;
    height: 80px;
    animation: scientists 5s -3.75s infinite;
}

.option__inventions-scheme {
    overflow-x: hidden;
    position: relative;
    height: 300px;
}

.inventions-scheme__frame {
    height: 100%;
    animation: inventions-frame 1s steps(1) infinite;
}

:nth-child(odd) > .inventions-scheme__frame {
    animation-delay: -0.3333s;
}

.inventions-scheme__container {
    display: flex;
    position: absolute;
    top: 0;
    animation: inventions-movement 10s linear infinite;
}

.inventions-scheme__icon {
    width: 300px;
    height: 300px;
    flex: 0 0 300px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: 50%;
}

.inventions-scheme__icon.icon1 {
    background-image: url('/assets/images/inventions/11.jpg');
}

.inventions-scheme__icon.icon2 {
    background-image: url('/assets/images/inventions/12.jpg');
}

.inventions-scheme__icon.icon3 {
    background-image: url('/assets/images/inventions/8.jpg');
}

.inventions-scheme__icon.icon4 {
    background-image: url('/assets/images/inventions/13.jpg');
}

.option__date-scheme {
    display: flex;
    align-items: start;
    justify-content: center;
}

.date-scheme__calendar {
    position: relative;
    width: 220px;
    height: 260px;
    background-image: url('/assets/images/decorations/date_scheme/calendar.svg');
    background-size: 100% 100%;
}

.date-scheme__number {
    position: absolute;
    top: 84px;
    left: 48px;
    font-family: 'Caveat', sans-serif;
    font-size: 92px;
    rotate: -12deg;
}

.date-scheme__month {
    position: absolute;
    top: 174px;
    left: 72px;
    font-family: 'Caveat', sans-serif;
    font-size: 28px;
    rotate: -11deg;
}

.date-scheme__question {
    width: 60px;
    height: 120px;
    margin-top: 40px;
    animation: question-flicker 1s steps(1) infinite;
}

.tests__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tests-scheme {
    position: relative;
    box-sizing: border-box;
    min-width: 0;
    max-width: 600px;
    flex-basis: 600px;
    aspect-ratio: 1.5;
    padding: 10px;
    overflow: hidden;
    background-color: var(--option-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.tests-scheme__container {
    position: relative;
    animation: tests-scheme__container 5s ease-in-out infinite;
}

.tests-scheme__text {
    background-image: url('/assets/images/decorations/tests_scheme/text.svg');
    background-size: 100% 100%;
    width: 100%;
    aspect-ratio: 1.5;
}

.tests-scheme__marker {
    position: absolute;
    width: 7%;
    aspect-ratio: 1;
    background-size: 100% 100%;
    animation: tests-scheme__marker linear 20s infinite;
}

.tests-scheme__cursor {
    position: absolute;
    width: 5%;
    aspect-ratio: 0.5;
    background-size: 100% 100%;
    background-image: url('/assets/images/decorations/tests_scheme/cursor.svg');
    animation: tests-scheme__cursor linear 20s infinite;
}

.tests__desc {
    box-sizing: border-box;
    width: 490px;
    padding: 10px;
}

.tests__desc__text {
    text-align: center;
    margin-bottom: 10px;
}

.stats__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stats__desc {
    box-sizing: border-box;
    width: 490px;
    padding: 10px;
}

.stats__desc__text {
    text-align: center;
    margin-bottom: 10px;
}

.stats-scheme {
    box-sizing: border-box;
    min-width: 0;
    max-width: 600px;
    flex-basis: 600px;
    aspect-ratio: 3;
    padding: 10px;
    overflow: hidden;
    background-color: var(--option-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70% 70%;
    animation: stats-scheme steps(1) 2s infinite;
}

@keyframes stats-scheme {
    0% {
        background-image: url('/assets/images/decorations/stats_scheme/icon1.svg');
    }
    25% {
        background-image: url('/assets/images/decorations/stats_scheme/icon2.svg');
    }
    50% {
        background-image: url('/assets/images/decorations/stats_scheme/icon3.svg');
    }
    75% {
        background-image: url('/assets/images/decorations/stats_scheme/icon4.svg');
    }
    100% {
        background-image: url('/assets/images/decorations/stats_scheme/icon4.svg');
    }
}

@keyframes tests-scheme__cursor {
    0% {
        top: 60%;
        right: 40%;
    }
    6% {
        top: 60%;
        right: 40%;
    }
    8% {
        top: 30%;
        right: 7%;
    }
    14% {
        top: 30%;
        right: 7%;
    }
    17% {
        top: 60%;
        right: 40%;
    }
    31% {
        top: 60%;
        right: 40%;
    }
    33% {
        top: 58%;
        right: 6%;
    }
    39% {
        top: 58%;
        right: 6%;
    }
    42% {
        top: 60%;
        right: 40%;
    }
    56% {
        top: 60%;
        right: 40%;
    }
    58% {
        top: 45%;
        right: 7%;
    }
    64% {
        top: 45%;
        right: 7%;
    }
    67% {
        top: 60%;
        right: 40%;
    }
    81% {
        top: 60%;
        right: 40%;
    }
    83% {
        top: 71%;
        right: 5%;
    }
    89% {
        top: 71%;
        right: 5%;
    }
    92% {
        top: 60%;
        right: 40%;
    }
    100% {
        top: 60%;
        right: 40%;
    }
}

@keyframes tests-scheme__container {
    0% {
        margin-top: 400px;
    }
    20% {
        margin-top: 0;
    }
    80% {
        margin-top: 0;
    }
    100% {
        margin-top: -400px;
    }
}

@keyframes tests-scheme__marker {
    0% {
        visibility: hidden;
        background-image: url('/assets/images/decorations/tests_scheme/correct.svg');
        top: 26%;
        right: 7%;
    }
    9.9999% {
        visibility: hidden;
    }
    10% {
        visibility: visible;
    }
    24.9999% {
        visibility: visible;
        background-image: url('/assets/images/decorations/tests_scheme/correct.svg');
        top: 26%;
        right: 7%;
    }
    25% {
        visibility: hidden;
        background-image: url('/assets/images/decorations/tests_scheme/incorrect.svg');
        top: 54%;
        right: 5%;
    }
    34.9999% {
        visibility: hidden;
    }
    35% {
        visibility: visible;
    }
    49.9999% {
        visibility: visible;
        background-image: url('/assets/images/decorations/tests_scheme/incorrect.svg');
        top: 54%;
        right: 5%;
    }
    50% {
        visibility: hidden;
        background-image: url('/assets/images/decorations/tests_scheme/incorrect.svg');
        top: 40%;
        right: 6%;
    }
    59.9999% {
        visibility: hidden;
    }
    60% {
        visibility: visible;
    }
    74.9999% {
        visibility: visible;
        background-image: url('/assets/images/decorations/tests_scheme/incorrect.svg');
        top: 40%;
        right: 6%;
    }
    75% {
        visibility: hidden;
        background-image: url('/assets/images/decorations/tests_scheme/correct.svg');
        top: 68%;
        right: 6%;
    }
    84.9999% {
        visibility: hidden;
    }
    85% {
        visibility: visible;
    }
    100% {
        visibility: visible;
        background-image: url('/assets/images/decorations/tests_scheme/correct.svg');
        top: 68%;
        right: 6%;
    }
}

@keyframes flow-x {
    to {
        background-position: 15px 0;
    }
}

@keyframes flow-y {
    to {
        background-position: 0 15px;
    }
}

@keyframes scientists {
    0% {
        top: calc(100% - 100px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
    }
    25% {
        top: calc(50% - 40px);
        left: calc(100% - 80px);
        width: 80px;
        height: 80px;
    }
    50% {
        top: 0;
        left: calc(50% - 30px);
        width: 60px;
        height: 60px;
    }
    75% {
        top: calc(50% - 40px);
        left: 0;
        width: 80px;
        height: 80px;
    }
    100% {
        top: calc(100% - 100px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
    }
}

@keyframes inventions-frame {
    0% {
        background-image: url('/assets/images/decorations/inventions_scheme/frame2.svg');
    }
    33.3333% {
        background-image: url('/assets/images/decorations/inventions_scheme/frame1.svg');
    }
    66.6666% {
        background-image: url('/assets/images/decorations/inventions_scheme/frame3.svg');
    }
    100% {
        background-image: url('/assets/images/decorations/inventions_scheme/frame2.svg');
    }
}

@keyframes inventions-movement {
    from {
        left: 0;
    }
    to {
        left: -1200px;
    }
}

@keyframes question-flicker {
    0% {
        background-image: url('/assets/images/decorations/date_scheme/question1.svg');
    }
    33.3333% {
        background-image: url('/assets/images/decorations/date_scheme/question2.svg');
    }
    66.6666% {
        background-image: url('/assets/images/decorations/date_scheme/question3.svg');
    }
    100% {
        background-image: url('/assets/images/decorations/date_scheme/question1.svg');
    }
}