.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.description__title {
    margin-bottom: 0;
}

.table-of-contents {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: var(--option-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.links__toggle-button {
    cursor: pointer;
}

.links__toggle-button::after {
    content: " ";
    display: block;
    margin: auto;
    width: 0;
    height: 1px;
    margin-top: 2px;
    background-color: white;
    transition: width 0.4s;
}

@media (hover: hover) {
    .links__toggle-button:is(:hover, :has(.links__toggle-button__checkbox:focus-visible))::after {
        width: 100%;
        transition: width 0.4s;
    }
}

.links__toggle-button__title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

ul {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding-left: 0;
    transition: visibility 0.6s, padding-top 0.6s, height 0.4s;
}

.links__toggle-button:has(.links__toggle-button__checkbox:checked) ~ ul {
    visibility: visible;
    padding-top: 20px;
    height: 720px;
    transition: padding-top 0.6s, height 0.4s;
}

.links__toggle-button__title::before {
    content: " ";
    background-image: url('/assets/images/decorations/list_arrow.svg');
    width: 26px;
    height: 26px;
    rotate: 180deg;
    transition: rotate 0.4s;
}

.links__toggle-button__checkbox:checked ~ .links__toggle-button__title::before {
    rotate: 0deg;
    transition: rotate 0.4s;
}

.links__toggle-button__title::after {
    content: " ";
    background-image: url('/assets/images/decorations/list_arrow.svg');
    width: 26px;
    height: 26px;
    rotate: -180deg;
    transition: rotate 0.4s;
}

.links__toggle-button__checkbox:checked ~ .links__toggle-button__title::after {
    rotate: 0deg;
    transition: rotate 0.4s;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    font-size: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: var(--button-active-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: border-color 0.3s;
}

@media (max-width: 449px) {
    li {
        font-size: 12px;
    }
}

@media (hover: hover) {
    li:has(a:is(:hover, :focus, :focus-visible)) {
        border-color: var(--border-active-color);
        transition: border-color 0.3s;
    }
}

li a {
    display: block;
    padding: 10px;
    text-align: center;
}

li a:is(:focus, :focus-visible) {
    outline: none;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

section:nth-child(odd) .content {
    flex-direction: row-reverse;
}

.image {
    align-self: flex-start;
    width: 100%;
    max-width: 400px;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    box-sizing: border-box;
    width: 690px;
    padding: 10px;
}

section:nth-child(odd) .desc {
    align-items: start;
}

.paragraph-anchor {
    display: block;
    opacity: 0;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid white;
    background-image: url('/assets/images/decorations/link.svg');
    transition: opacity 0.3s;
}

:is(section:hover .paragraph-anchor, .paragraph-anchor:is(:focus, :focus-visible)) {
    opacity: 1;
    transition: opacity 0.3s;
}

@media (hover: none) {
    .paragraph-anchor {
        opacity: 1;
    }
}

.desc__part {
    box-sizing: border-box;
    width: 100%;
    max-width: 670px;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--option-color);
}

.desc__part__title {
    font-size: 20px;
    margin-bottom: 6px;
}
