@font-face {
    font-family: 'Roboto Serif';
    src: url('/assets/fonts/RobotoSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    --title-normal: #FFFA;
    --title-flicker: #FFF7;
    --header-color: #191919;
    --main-color: #222;
    --section-color: #2D2D2D;
    --border-color: #595959;
    --border-active-color: #BBB;
    --image-border-color: #AAA;
    --option-color: #363636;
    --button-color: #363636;
    --button-active-color: #444;
}

body {
    scroll-behavior: smooth;
    background-color: var(--main-color);
    margin: 0px;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

input[type="checkbox"] {
    all: unset;
    position: absolute;
}

.button {
    all: unset;
    display: block;
    width: fit-content;
    cursor: pointer;
    font-size: 20px;
    margin: auto;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    background-color: var(--button-color);
    transition: 0.3s;
}

.button:is(:hover, :focus, :focus-visible) {
    border-color: var(--border-active-color);
    background-color: var(--button-active-color);
    transition: 0.3s;
}

#goup {
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--border-color);
    opacity: 0;
    transition: 0.3s;
}

#goup.show {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

#goup:hover {
    scale: 1.07;
    transition: 0.3s;
}

#goup::before {
    content: " ";
    position: absolute;
    width: 4px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    top: 12px;
    left: 18.5px;
    rotate: 45deg;
}

#goup::after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    top: 12px;
    right: 18.5px;
    rotate: -45deg;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--header-color);
    border-bottom: 1px var(--border-color) solid;
}

.header__title {
    max-width: 860px;
    display: flex;
    align-items: center;
    scale: 0.96;
    will-change: scale;
    transition: scale 0.5s;
}

.header__title:is(:hover, :focus, :focus-visible) {
    outline: none;
    border-radius: 10px;
    scale: 1;
    transition: scale 0.5s;
}

.header__logo {
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
    background-image: url('/assets/images/header/logo.svg');
    background-repeat: no-repeat;
}

.title__text {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    animation: text-flicker 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate;
}

.header__links {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 0px 10px;
    gap: 16px;
    background-color: var(--header-color);
}

.links__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    transition: scale 0.5s;
}

.link__icon {
    border: none;
    width: 20px;
    height: 20px;
}

.link__icon.general {
    background-image: url('/assets/images/header/general_icon.svg');
}

.link__icon.scientists {
    background-image: url('/assets/images/header/scientists_icon.svg');
}

.link__icon.inventions {
    background-image: url('/assets/images/header/inventions_icon.svg');
}

.link__icon.date {
    background-image: url('/assets/images/header/date_icon.svg');
}

.link__icon.tests {
    background-image: url('/assets/images/header/tests_icon.svg');
}

.link__icon.stats {
    background-image: url('/assets/images/header/stats_icon.svg');
}

.link__text {
    border: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4px;
}

.links__card:is(:hover, :focus, :focus-visible) {
    outline: none;
    scale: 1.08;
    transition: scale 0.5s;
}

.links__card::after {
    content: " ";
    display: block;
    width: 0px;
    height: 1px;
    margin: auto;
    margin-top: 3px;
    background-color: gainsboro;
    transition: width 0.5s;
}

.links__card:is(:hover, :focus, :focus-visible)::after {
    width: 100%;
    transition: width 0.5s;
}

.header__toggle-button {
    display: none;
}

.footer {
    border-top: 1px white solid;
    padding: 20px;
    height: 100%;
}

.credits {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.credits__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.source__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.source__wrapper::after {
    content: " ";
    display: block;
    height: 1px;
    width: 0;
    background-color: white;
    transition: width 0.5s;
}

.source__wrapper:is(:hover, :has(.credits__source:is(:focus, :focus-visible)))::after {
    width: 100%;
    transition: width 0.5s;
}

.credits__source:is(:focus, :focus-visible) {
    outline: none;
}

.credits__source {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
}

.credits__source::before {
    content: url('/assets/images/github_icon.svg');
    display: block;
    height: 24px;
    margin-right: 10px;
}

.credits__authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (max-width: 582px) {
    .header__logo {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
    }

    .title__text {
        font-size: 18px;
        animation-name: text-flicker-mobile;
    }

    .header__links {
        box-sizing: border-box;
        visibility: hidden;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: visibility 0.3s, max-height 0.4s;
    }

    .links__card {
        box-sizing: border-box;
        flex-direction: row;
        gap: 40px;
        width: 90%;
    }

    .links__card::after {
        display: none;
    }

    .header__toggle-button {
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        border-left: 1px white solid;
        border-right: 1px white solid;
        text-transform: uppercase;
        font-size: 20px;
    }

    .header__toggle-button__text {
        display: flex;
        width: 100%;
        padding-bottom: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .header__toggle-button::after {
        content: " ";
        width: 0;
        height: 1px;
        background-color: white;
        transition: width 0.4s;
    }

    .header__toggle-button:is(:hover, :has(.header__toggle-button__checkbox:focus-visible))::after {
        width: 100%;
        transition: width 0.4s;
    }

    .header__toggle-button__text::before {
        content: " ";
        width: 26px;
        height: 26px;
        background-image: url('/assets/images/decorations/list_arrow.svg');
        rotate: -180deg;
        transition: rotate 0.4s;
    }

    .header__toggle-button__checkbox:checked ~ .header__toggle-button__text::before {
        rotate: 0deg;
        transition: rotate 0.4s;
    }

    .header__toggle-button__text::after {
        content: " ";
        width: 26px;
        height: 26px;
        background-image: url('/assets/images/decorations/list_arrow.svg');
        rotate: 180deg;
        transition: rotate 0.4s;
    }

    .header__toggle-button__checkbox:checked ~ .header__toggle-button__text::after {
        rotate: 0deg;
        transition: rotate 0.4s;
    }

    .header__toggle-button:has(.header__toggle-button__checkbox:checked) + .header__links {
        visibility: visible;
        max-height: 500px;
        transition: visibility 0.3s, max-height 0.6s;
    }
}

@keyframes text-flicker {
    from {
        text-shadow: 0 0 10px var(--title-normal);
    }
    10% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    20% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    35% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    40% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    50% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    60% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    85% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    90% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    95% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    to {
        text-shadow: 0 0 10px var(--title-normal);
    }
}

@keyframes text-flicker-mobile {
    from {
        text-shadow: 0 0 5px var(--title-normal);
    }
    10% {
        text-shadow: 0 0 5px var(--title-flicker);
    }
    20% {
        text-shadow: 0 0 5px var(--title-normal);
    }
    35% {
        text-shadow: 0 0 5px var(--title-flicker);
    }
    40% {
        text-shadow: 0 0 5px var(--title-normal);
    }
    50% {
        text-shadow: 0 0 5px var(--title-flicker);
    }
    60% {
        text-shadow: 0 0 5px var(--title-normal);
    }
    85% {
        text-shadow: 0 0 5px var(--title-flicker);
    }
    90% {
        text-shadow: 0 0 5px var(--title-normal);
    }
    95% {
        text-shadow: 0 0 5px var(--title-flicker);
    }
    to {
        text-shadow: 0 0 5px var(--title-normal);
    }
}

@keyframes round-bulb-flicker {
    0% {
        background-image: url('/assets/images/decorations/round_bulb/1.svg');
    }
    33.3333% {
        background-image: url('/assets/images/decorations/round_bulb/2.svg');
    }
    66.6666% {
        background-image: url('/assets/images/decorations/round_bulb/3.svg');
    }
    100% {
        background-image: url('/assets/images/decorations/round_bulb/1.svg');
    }
}

@keyframes rect-bulb-flicker {
    0% {
        background-image: url('/assets/images/decorations/rect_bulb/2.svg');
    }
    25% {
        background-image: url('/assets/images/decorations/rect_bulb/3.svg');
    }
    50% {
        background-image: url('/assets/images/decorations/rect_bulb/2.svg');
    }
    75% {
        background-image: url('/assets/images/decorations/rect_bulb/1.svg');
    }
    100% {
        background-image: url('/assets/images/decorations/rect_bulb/2.svg');
    }
}