@font-face {
  font-family: 'Roboto Serif';
  src: url('/frontend/fonts/RobotoSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('/frontend/fonts/Caveat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
    --title-normal: #FFFA;
    --title-flicker: #FFF7;
    --header-color: #131313;
    --main-color: #222;
    --section-color: #2D2D2D;
    --section-border-color: #595959;
    --image-border-color: #AAA;
    --option-color: #363636;
}

body {
    scroll-behavior: smooth;
    background-color: var(--main-color);
    margin: 0px;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: white;
}

#goup {
    visibility: hidden;
    position: fixed;
    cursor: pointer;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--section-border-color);
    opacity: 0;
    transition: 0.3s;
}

#goup.show {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

#goup:hover {
    scale: 1.07;
    transition: 0.3s;
}

#goup::before {
    content: " ";
    position: absolute;
    width: 4px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    top: 12px;
    left: 18.5px;
    rotate: 45deg;
}

#goup::after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 30px;
    border-radius: 2px;
    background-color: white;
    top: 12px;
    right: 18.5px;
    rotate: -45deg;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    background-color: var(--header-color);
}

.header__title {
    max-width: 860px;
    display: flex;
    align-items: center;
    scale: 0.96;
    will-change: scale;
    transition: scale 0.5s ease;
}

.header__title:is(:hover, :focus, :focus-visible) {
    outline: none;
    border-radius: 10px;
    scale: 1;
    transition: scale 0.5s ease;
}

.header__logo {
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
    background-image: url('/frontend/images/logo.svg');
    background-repeat: no-repeat;
}

.title__text {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    animation: text-flicker 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate;
}

.header__links {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0px 10px;
    gap: 20px;
    background-color: var(--header-color);
    transition: 0.5s ease;
}

.links__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    transition: 0.5s ease;
}

.link__icon.scientists {
    background-image: url('/frontend/images/scientists_icon.svg');
}

.link__icon.general {
    background-image: url('/frontend/images/general_icon.svg');
}

.link__icon.inventions {
    background-image: url('/frontend/images/inventions_icon.svg');
}

.link__icon {
    border: none;
    width: 20px;
    height: 20px;
}

.link__text {
    border: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4px;
}

:is(.links__card:hover, .links__card:is(:focus, :focus-visible)) {
    scale: 1.14;
    transition: 0.5s ease;
}

.links__card:is(:focus, :focus-visible) {
    outline: none;
}

.header__link {
    border: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-transform: uppercase;
    text-align: center;
}

.links__card::after {
    content: " ";
    display: block;
    width: 0px;
    height: 1px;
    margin: auto;
    margin-top: 3px;
    background-color: gainsboro;
    transition: width 0.5s ease;
}

:is(.links__card:hover, .links__card:is(:focus, :focus-visible))::after {
    width: 100%;
    transition: width 0.5s ease;
}

.main {
    position: relative;
    margin: 0px 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

main {
    max-width: 1142px;
    margin: 0px auto;
}

section {
    background-color: var(--section-color);
    border: 1px solid var(--section-border-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.main__welcome {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.image {
    box-sizing: border-box;
    min-width: 0px;
    max-width: 460px;
    border: 1px solid var(--image-border-color);
    border-radius: 20px;
}

.welcome__title {
    font-size: 2.8em;
    text-align: left;
    width: 600px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.decoration {
    position: absolute;
    width: 100px;
    height: 120px;
}

.decoration.round-bulb {
    top: 20px;
    animation: round-bulb-flicker steps(1) 1s infinite;
}

.decoration.rect-bulb {
    top: 20px;
    animation: rect-bulb-flicker steps(1) 1.25s infinite;
}

.decoration.left {
    left: 10px;
}

.decoration.right {
    right: 10px;
}

.options__title {
    font-size: 2.6em;
    text-align: center;
    margin-bottom: 20px;
}

.options__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.option__title {
    line-height: 1.5em;
}

.option__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 540px;
    height: 400px;
    padding: 10px;
    background-color: var(--option-color);
    border: 1px solid var(--section-border-color);
    border-radius: 5px;
}

.option__general-scheme {
    margin-top: 20px;
}

.general-scheme__block {
    display: flex;
    align-items: center;
    justify-content: right;
}

.general-scheme__to1 {
    flex-grow: 1;
    height: 4px;
    background: linear-gradient(90deg, white 50%, transparent 50%) repeat-x;
    background-size: 15px 4px;
    animation: flow-x 0.5s linear infinite;
}

.general-scheme__to2 {
    width: 4px;
    padding-right: 48px;
    height: 50px;
    background: linear-gradient(white 50%, transparent 50%) repeat-y;
    background-size: 4px 15px;
    animation: flow-y 0.5s linear infinite;
}

.general-scheme__to3 {
    flex-grow: 1;
    height: 4px;
    background: linear-gradient(90deg, white 50%, transparent 50%) repeat-x;
    background-size: 15px 4px;
    animation: flow-x 0.5s linear reverse infinite;
}

@keyframes flow-x {
    to {
        background-position: 15px 0;
    }
}

@keyframes flow-y {
    to {
        background-position: 0 15px;
    }
}

.general-scheme__icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 80px;
    height: 80px;
    flex: 0 0 80px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
}

.general-scheme__icon1 {
    background-image: url('/frontend/images/decorations/general_scheme/icon1.svg');
}

.general-scheme__icon2 {
    background-image: url('/frontend/images/decorations/general_scheme/icon2.svg');
}

.general-scheme__icon3 {
    background-image: url('/frontend/images/decorations/general_scheme/icon3.svg');
}

.general-scheme__icon4 {
    background-image: url('/frontend/images/decorations/general_scheme/icon4.svg');
}

.option__scientists-scheme {
    position: relative;
    flex-grow: 1;
    margin-top: 20px;
}

.scientists-scheme__icon {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.scientists-scheme__icon1 {
    background-image: url('/frontend/images/decorations/scientists_scheme/icon1.svg');
    top: calc(100% - 100px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    animation: scientists 5s infinite;
}

.scientists-scheme__icon2 {
    background-image: url('/frontend/images/decorations/scientists_scheme/icon1.svg');
    top: calc(50% - 40px);
    left: calc(100% - 80px);
    width: 80px;
    height: 80px;
    animation: scientists 5s -1.25s infinite;
}

.scientists-scheme__icon3 {
    background-image: url('/frontend/images/decorations/scientists_scheme/icon1.svg');
    top: 0;
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    animation: scientists 5s -2.5s infinite;
}

.scientists-scheme__icon4 {
    background-image: url('/frontend/images/decorations/scientists_scheme/icon1.svg');
    top: calc(50% - 40px);
    left: 0;
    width: 80px;
    height: 80px;
    animation: scientists 5s -3.75s infinite;
}

@keyframes scientists {
    0% {
        top: calc(100% - 100px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
    }
    25% {
        top: calc(50% - 40px);
        left: calc(100% - 80px);
        width: 80px;
        height: 80px;
    }
    50% {
        top: 0;
        left: calc(50% - 30px);
        width: 60px;
        height: 60px;
    }
    75% {
        top: calc(50% - 40px);
        left: 0;
        width: 80px;
        height: 80px;
    }
    100% {
        top: calc(100% - 100px);
        left: calc(50% - 50px);
        width: 100px;
        height: 100px;
    }
}

.option__inventions-scheme {
    overflow-x: hidden;
    position: relative;
    height: 300px;
}

.inventions-scheme__frame {
    height: 100%;
    animation: inventions-frame 1s steps(1) infinite;
}

:nth-child(odd) > .inventions-scheme__frame {
    animation-delay: -0.3333s;
}

@keyframes inventions-frame {
    0% {
        background-image: url('/frontend/images/decorations/inventions_scheme/frame2.svg');
    }
    33.3333% {
        background-image: url('/frontend/images/decorations/inventions_scheme/frame1.svg');
    }
    66.6666% {
        background-image: url('/frontend/images/decorations/inventions_scheme/frame3.svg');
    }
    100% {
        background-image: url('/frontend/images/decorations/inventions_scheme/frame2.svg');
    }
}

.inventions-scheme__container {
    display: flex;
    position: absolute;
    top: 0;
    animation: inventions-movement 10s linear infinite;
}

@keyframes inventions-movement {
    from {
        left: 0;
    }
    to {
        left: -1200px;
    }
}

.inventions-scheme__icon {
    width: 300px;
    height: 300px;
    flex: 0 0 300px;
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: 50%;
}

.inventions-scheme__icon1 {
    background-image: url('/frontend/images/inventions/11.jpg');
}

.inventions-scheme__icon2 {
    background-image: url('/frontend/images/inventions/12.jpg');
}

.inventions-scheme__icon3 {
    background-image: url('/frontend/images/inventions/8.jpg');
}

.inventions-scheme__icon4 {
    background-image: url('/frontend/images/inventions/13.jpg');
}

.option__date-scheme {
    display: flex;
    align-items: start;
}

.date-scheme__calendar {
    position: relative;
    width: 260px;
    height: 300px;
    background-image: url('/frontend/images/decorations/date_scheme/calendar.svg');
}

.date-scheme__number {
    position: absolute;
    top: 100px;
    left: 59px;
    font-family: 'Caveat', sans-serif;
    font-size: 96px;
    rotate: -12deg;
}

.date-scheme__month {
    position: absolute;
    top: 186px;
    left: 86px;
    font-family: 'Caveat', sans-serif;
    font-size: 36px;
    rotate: -11deg;
}

.date-scheme__question {
    width: 200px;
    height: 180px;
    animation: question-flicker 1s steps(1) infinite;
}

@keyframes question-flicker {
    0% {
        background-image: url('/frontend/images/decorations/date_scheme/question1.svg');
    }
    33.3333% {
        background-image: url('/frontend/images/decorations/date_scheme/question2.svg');
    }
    66.6666% {
        background-image: url('/frontend/images/decorations/date_scheme/question3.svg');
    }
    100% {
        background-image: url('/frontend/images/decorations/date_scheme/question1.svg');
    }
}

.footer {
    border-top: 1px white solid;
    padding: 20px;
    height: 100%;
}

.credits {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.credits__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.source__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.source__wrapper::after {
    content: " ";
    display: block;
    height: 1px;
    width: 0;
    background-color: white;
    transition: width 0.5s ease;
}

.source__wrapper:is(:hover, :has(.credits__source:is(:focus, :focus-visible)))::after {
    width: 100%;
    transition: width 0.5s ease;
}

.credits__source:is(:focus, :focus-visible) {
    outline: none;
}

.credits__source {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    font-family: monospace;
}

.credits__source::before {
    content: url('/frontend/images/github_icon.svg');
    display: block;
    height: 24px;
    margin-right: 10px;
}

.credits__authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (max-width: 582px) {
    .welcome__title {
        font-size: 1.6em;
        text-align: center;
    }

    .header__logo {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
    }

    .title__text {
        font-size: 18px;
    }

    .link__text {
        font-size: 12px;
    }
}

@keyframes text-flicker {
    from {
        text-shadow: 0 0 10px var(--title-normal);
    }
    10% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    20% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    35% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    40% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    50% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    60% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    85% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    90% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    95% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    to {
        text-shadow: 0 0 10px var(--title-normal);
    }
}

@keyframes round-bulb-flicker {
    0% {
        background-image: url('/frontend/images/decorations/round_bulb/1.svg');
    }
    33.3333% {
        background-image: url('/frontend/images/decorations/round_bulb/2.svg');
    }
    66.6666% {
        background-image: url('/frontend/images/decorations/round_bulb/3.svg');
    }
    100% {
        background-image: url('/frontend/images/decorations/round_bulb/1.svg');
    }
}

@keyframes rect-bulb-flicker {
    0% {
        background-image: url('/frontend/images/decorations/rect_bulb/2.svg');
    }
    25% {
        background-image: url('/frontend/images/decorations/rect_bulb/3.svg');
    }
    50% {
        background-image: url('/frontend/images/decorations/rect_bulb/2.svg');
    }
    75% {
        background-image: url('/frontend/images/decorations/rect_bulb/1.svg');
    }
    100% {
        background-image: url('/frontend/images/decorations/rect_bulb/2.svg');
    }
}

@keyframes cursor-blinking {
    from {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}