@font-face {
  font-family: 'Roboto Serif';
  src: url('/frontend/fonts/RobotoSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
    --title-normal: #FFFA;
    --title-flicker: #FFF7;
    --header-color: #131313;
    --main-color: #222;
}

body {
    background-color: var(--main-color);
    margin: 0;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--header-color);
    padding-bottom: 6px;
    border-bottom: 1px white solid;
}

.header__title {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 10px 0 10px;
    animation: text-flicker 1.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite alternate;
}

.header__title div {
    border-bottom: 1px white solid;
    font-weight: bold;
}

.header__links {
    margin: 10px 0px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links__card {
    padding: 6px 6px;
    line-height: 100%;
    transition: 0.5s ease;
    cursor: pointer;
}

:is(.links__card:hover, .links__card:has(.header__link:is(:focus, :focus-visible))) {
    font-size: 1.2em;
    transition: 0.5s ease;
    cursor: pointer;
}

.header__link:is(:focus, :focus-visible) {
    outline: none;
}

.links__card .general {
    font-size: 1.3em;
}

.links__card:has(:not(.general)) {
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}

.header__link {
    border: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-transform: uppercase;
    text-align: center;
}

.header__link.inventions::before {
    content: url('/frontend/images/inventions_icon.svg');
    display: block;
    height: 20px;
    margin: auto;
    margin-bottom: 10px;
    transition: scale 0.5s ease;
}

.header__link.general::before {
    content: url('/frontend/images/general_icon.svg');
    display: block;
    height: 20px;
    margin: auto;
    margin-bottom: 10px;
    transition: scale 0.5s ease;
}

.header__link.scientists::before {
    content: url('/frontend/images/scientists_icon.svg');
    display: block;
    height: 20px;
    margin: auto;
    margin-bottom: 10px;
    transition: scale 0.5s ease;
}

:is(.links__card:hover .header__link, .header__link:is(:focus, :focus-visible))::before {
    scale: 1.2;
    transition: scale 0.5s ease;
}

.links__card .header__link::after {
    content: " ";
    display: block;
    width: 0;
    height: 1px;
    margin: auto;
    margin-top: 3px;
    background-color: gainsboro;
    transition: width 0.5s ease;
}

:is(.links__card:hover .header__link, .header__link:is(:focus, :focus-visible))::after {
    width: 100%;
    transition: width 0.5s ease;
}

.main {
    margin: 0 2%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.bulb_decoration {
    width: 100px;
    height: 120px;
    animation: bulb-flicker 1s infinite;
}

.footer {
    border-top: 1px white solid;
    padding: 20px;
}

.credits {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.credits__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.source__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.source__wrapper::after {
    content: " ";
    display: block;
    height: 1px;
    width: 0;
    background-color: white;
    transition: width 0.5s ease;
}

.source__wrapper:is(:hover, :has(.credits__source:is(:focus, :focus-visible)))::after {
    width: 100%;
    transition: width 0.5s ease;
}

.credits__source:is(:focus, :focus-visible) {
    outline: none;
}

.credits__source {
    display: flex;
    align-items: center;
    font-size: 1.6em;
    font-family: monospace;
}

.credits__source::before {
    content: url('/frontend/images/github_icon.svg');
    display: block;
    height: 24px;
    margin-right: 10px;
}

.credits__authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@keyframes text-flicker {
    from {
        text-shadow: 0 0 10px var(--title-normal);
    }
    10% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    20% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    35% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    40% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    50% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    60% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    85% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    90% {
        text-shadow: 0 0 10px var(--title-normal);
    }
    95% {
        text-shadow: 0 0 10px var(--title-flicker);
    }
    to {
        text-shadow: 0 0 10px var(--title-normal);
    }
}

@keyframes bulb-flicker {
    0% {
        content: url('/frontend/images/bulbs/bulb1.svg');
    }
    33.3333% {
        content: url('/frontend/images/bulbs/bulb2.svg');
    }
    66.6666% {
        content: url('/frontend/images/bulbs/bulb3.svg');
    }
    100% {
        content: url('/frontend/images/bulbs/bulb1.svg');
    }
}